.table_row_span1{
    display: inline-block;
    width: 3em;
    height: 3em
}
.table_row_span2{
    position: relative;
    display:
    inline-block;
    width: 3em;
    height: 3em
}
.icon_style{
    z-index: 100;
    position: relative;
    color: white;
    padding-top: 8px;
}
.circle_style{
    position: absolute;
    display:inline-block;
    width:33px;
    height:33px;
    margin-left:8px;
    line-height:0;
    border:0.24146341463414637em solid #d2d2d2;
    border-radius:30px;
    left:0em;
    top:0em;
}
.line_style{
    position: absolute;
    display:inline-block;
    width: 140px;
    height: 10px;
    border: 0.24146341463414637em solid #d2d2d2;
    margin-left: 30px;
    left:0.5121951219512195em;
    top:10px;
}
.span_stack{
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
.stack_item_1{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.stack_item_2{
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    text-align: center;
}
.link_debug{
    font-size: 14px;
    color:blue;
}
.link_release{
    font-size: 14px;
    margin-left: 10px;
    color:blue;
}
ul.pie-legend{
    padding-left: 100px;
    margin-top: -100px;
    z-index: 100;
    position: relative;
    padding-top: 20px;
}
.two_rows{
    margin-right: 696px !important;
    margin-top: -100px;
    float: right !important;
    width: 152px !important;
    height: 250px !important;
    border-right: 1px solid #d2d2d2;
    line-height: 200px;
}