$success : green;
$failure : red;
$pending : orange;
$running: blue;
$table-max-width : 1150px;
$white : #fff;
$grey : #d2d2d2 ;
$grey-light : #f3f3f4 ;
$black : #454545 ;
$grey-table-text : #c0c0c0;
$orange-border : #f6ab60;
$orange-text : #fad2a8;
$blue-border : #2585c4;
$blue-text : #3e8fc8;
$green-border : #28b294;
$green-text : #28b294;
$red-border : #eb5768;
$red-text : #f08f98;
$mobile: new-breakpoint(max-width 480px);
$desktop: new-breakpoint(min-width 850px);
$padding-20 : 20px;
$padding-30: 30px;
$padding-left-70 : 70px;
$padding-left-10 : 10px;
$padding-right-90 : 90px;
$padding-right-50 : 50px;
$font-size-16 : 16px;
$width-100 : 100px;
$width-110 : 110px;
$width-150 : 150px;
$width-30 : 30px;
$width-70 : 70px;